/*---------------------Начало global--------------------*/

html {
    font-size: 0.9vw;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    display: grid;
    grid-template-areas:
        'H'
        'M'
        'F';
    font-family: sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
}

.container {
    position: relative;
    width: 70%;
    margin: 0 auto;
}
section{
    width: 100%;
}
h1 {
    font-size: 2.6rem;
    line-height: 3rem;
    font-weight: 700;
    font-family: henders;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2.5rem;
}

h1 strong {
    font-size: 3.5rem;
    animation: scale_title 3s infinite;
}

h2 {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    font-family: henders;
    text-align: center;
}

h3 {
    font-size: 1.7rem;
    line-height: 1.5rem;
    font-family: henders;
    text-align: center;
}

.btn-rhomb {
    min-width: 15rem;
    min-height: 2.5rem;
    transform: skew(-20deg);
    border: 0.3rem solid #000;
    box-shadow: 0.5rem 0.5rem 1rem var(--bl);
    transition: 0.3s all;
    cursor: pointer;
}

.btn-rhomb span {
    display: block;
    font-size: 1.6rem;
    font-family: henders, sans-serif;
    font-weight: 700;
    transform: skew(20deg);
}

.btn-rhomb:hover {
    margin-bottom: 10px;
    box-shadow: 0.8rem 0.8rem 1rem var(--bl);
}

.btn-rhomb:active {
    background-color: var(--ye);
}

.btn_feedback-mini {
    position: fixed;
    bottom: 7rem;
    left: 0;
    width: 2.2rem;
    height: 12rem;
    z-index: 2;
    background-size: cover;
    background-color: transparent;
    background-image: url('../../assets/icon/mail.png');
    animation: mail_me 2s infinite;
    transition: 0.3s all;
}

.btn_feedback-mini:hover {
    transform: scale(1.1);
}

.feedback{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
}
/*---------------------Конец globsl--------------------*/

/*---------------------Начало header--------------------*/

header {
    position: relative;
    grid-area: H;
    align-self: start;
    background-color: var(--ye);
    color: var(--wh);
    font-family: henders, sans-serif;
}

.header_contact-wrap,
.header_menu-wrap {
    position: relative;
    height: 2.5rem;
    background-color: var(--bl);
}

.header_contact {
    justify-content: end;
    gap: 3rem;
}

.header_lg_fb {
    justify-content: space-between;
}

.header_logo {
    background-color: var(--wh);
    padding: 0 4rem;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
}

.header_logo-img {
    height: 5rem;
}

.header_menu ul {
    justify-content: center;
    gap: 3rem;
}

.header_contact a,
.header_menu ul a {
    display: block;
    transition: 0.3s all;
}

.header_contact a:hover,
.header_menu ul a:hover {
    color: var(--ye);
}

.header_contact a:active,
.header_menu ul a:active {
    transform: scale(1.5);
}

.header_menu-activ {
    pointer-events: none;
}
/*---------------------Конец header--------------------*/

/*---------------------Начало main--------------------*/
main {
    position: relative;
    grid-area: M;
    align-self: center;
}

/*--Начало marketing_--*/

.marketing_wrap {
    position: relative;
    height: 35rem;
    border-bottom: 1rem solid #000;
    overflow: hidden;
}

.marketing-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.marketing_container {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.marketing {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
}

.marketing-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.7rem;
    padding: 1rem 1rem 1rem 2.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
}

.marketing-list li {
    position: relative;
    color: var(--ye);
}

.marketing-list li::after {
    position: absolute;
    content: '';
    top: 50%;
    left: -2rem;
    width: 1.5rem;
    height: 1.5rem;
    transform: translateY(-50%);
    background-size: cover;
    background-image: url('../../assets/icon/mark.png');
}


/*--end marketing_--*/


/*--start works--*/

.works_wrap {
    position: relative;
    padding: 4rem 0;
}

.works_wrap-fon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/img/work.jpg');
    background-attachment: fixed;
    z-index: -55;
}

.works {
    margin-top: 3rem;
    display: grid;
    width: 100%;
    grid-template-areas:
        'work3 work2'
        'work1 work1'
        'work4 work5'
        'work6 work6'
        'work7 work8';
    gap: 5rem;
}

.works_elem:nth-child(1) {
    grid-area: work1;
}

.works_elem:nth-child(2) {
    grid-area: work2;
}

.works_elem:nth-child(3) {
    grid-area: work3;
}

.works_elem:nth-child(4) {
    grid-area: work4;
}

.works_elem:nth-child(5) {
    grid-area: work5;
}

.works_elem:nth-child(6) {
    grid-area: work6;
}

.works_elem:nth-child(7) {
    grid-area: work7;
}

.works_elem:nth-child(8) {
    grid-area: work8;
}

.works_elem {
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--bl);
    color: var(--wh);
    background-size: cover;
    background-position: center;
}

.works_elem::after,
.works_elem::before {
    position: absolute;
    content: '';
    background-color: var(--bl);
    z-index: -1;
    width: 15rem;
    height: 7rem;
}

.works_elem-bord-left::after {
    bottom: -0.4rem;
    left: -0.4rem;
}

.works_elem-bord-left::before {
    top: -0.4rem;
    left: -0.4rem;
}

.works_elem-bord-right::after {
    bottom: -0.4rem;
    right: -0.4rem;
}

.works_elem-bord-right::before {
    top: -0.4rem;
    right: -0.4rem;
}

.works_elem-bord-lef-rig::after {
    top: -0.4rem;
    right: -0.4rem;
    height: calc(100% + 0.8rem);
    width: 20rem;
}

.works_elem-bord-lef-rig::before {
    top: -0.4rem;
    left: -0.4rem;
    height: calc(100% + 0.8rem);
    width: 20rem;
}
.works_elem-text{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    animation-delay: 0.5s;
}

.works_elem-title {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bl);
    background-color: var(--ye);
}

.works_elem-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 17rem;
    padding: 2rem;
}
.works_elem-desc p{
    margin-bottom: 0.5rem;
}

.works_elem:nth-child(1) {
    background-image: url('../../assets/img/des-1.jpg');
}

.works_elem:nth-child(2) {
    background-image: url('../../assets/img/des-2.jpg');
}

.works_elem:nth-child(3) {
    background-image: url('../../assets/img/des-3.jpg');
}

.works_elem:nth-child(4) {
    background-image: url('../../assets/img/des-4.jpg');
}

.works_elem:nth-child(5) {
    background-image: url('../../assets/img/des-5.jpg');
}

.works_elem:nth-child(6) {
    background-image: url('../../assets/img/des-6.jpg');
}

.works_elem:nth-child(7) {
    background-image: url('../../assets/img/des-7.jpg');
}

.works_elem:nth-child(8) {
    background-image: url('../../assets/img/des-8.jpg');
}


/*--end works--*/


/*--start question--*/

.question_wrap {
    position: relative;
    border-bottom: 1rem solid var(--bl);
    border-top: 1rem solid var(--bl);
    font-size: 1.1rem;
}

.question h2 {
    margin-bottom: 1.5rem;
}

.question_wrap .container {
    padding: 4rem 0;
}

.question_pers {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 28rem;
    height: 28rem;
    background-size: cover;
    background-image: url('../../assets/img/pers.png');
}

.question {
    margin-left: 27rem;
}

.question-title {
    position: relative;
    padding: 0.7rem 0.7rem 0.7rem 4rem;
    font-weight: 700;
    font-size: 1.2rem;
    background-color: var(--ye);
    border: 0.3rem solid #000;
    border-bottom: none;
    cursor: pointer;
}

.question-title h4 {
    pointer-events: none;
}

.question-title::after {
    position: absolute;
    content: '';
    top: 0.8rem;
    left: 1.5rem;
    width: 1.3rem;
    height: 1.3rem;
    background-size: cover;
    background-image: url('../../assets/icon/down.png');
    transition: 0.3s;
}

.activ.question-title::after {
    transform: rotate(180deg);
}

.question-desc {
    display: none;
    font-size: 1rem;
    line-height: 1.2rem;
    border: 0.2rem solid #000;
    border-bottom: none;
    padding: 1rem;
}

.question-elem:last-child {
    border-bottom: 0.3rem solid #000;
}

.question-desc-feedback {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-family: 'henders';
}

.question-desc-feedback-call {
    font-size: 1.7rem;
}

.question-desc-feedback-soc-vb,
.question-desc-feedback-soc-wt {
    display: block;
    width: 3rem;
    height: 3rem;
    background-size: cover;
    border-radius: 50%;
}

.question-desc-feedback-soc-vb {
    background-image: url('../../assets/icon/vb.png');
    background-color: #a145f7;
}

.question-desc-feedback-soc-wt {
    background-image: url('../../assets/icon/wt.png');
    background-color: #6add35;
}

.question-desc-feedback-btn {
    font-size: 1.7rem;
    font-family: 'henders';
    background-color: transparent;
}

/*--end question--*/


/*--start advantages--*/


.advantages_wrap {
    padding: 4rem 4rem 0 4rem;
    border-top: 1rem solid var(--bl);
    border-bottom: 1rem solid var(--bl);
}

.advantages_elems {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 2rem;
    margin-top: 3rem;
    border-left: 0.5rem solid var(--bl);
    border-right: 0.5rem solid var(--bl);
}

.advantages_elem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
}

.advantages_elem-img {
    position: relative;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: var(--ye);
    margin-bottom: 2rem;
}

.advantages_elem-img::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 9rem;
    height: 9rem;
    transform: translate(-50%, -50%);
    background-size: cover;

}

.advantages_elem:nth-child(1) .advantages_elem-img::after {
    background-image: url('../../assets/icon/edv-1.png');
}

.advantages_elem:nth-child(2) .advantages_elem-img::after {
    background-image: url('../../assets/icon/edv-2.png');
}

.advantages_elem:nth-child(3) .advantages_elem-img::after {
    background-image: url('../../assets/icon/edv-3.png');
}


/*--end advantages--*/


/*--Начало carousel--*/
.carousel_wrap {
    background-image: url('../../assets/img/carousel.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 4rem;
    user-select: none;
}

.carousel {
    position: relative;
    width: 60rem;
    margin: 2rem auto;
}

.carousel::after {
    position: absolute;
    content: '';
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 20rem;
    height: calc(100% + 2rem);
    background-color: var(--ye);
}

.carousel::before {
    position: absolute;
    content: '';
    left: -1rem;
    top: 50%;
    transform: translateY(-50%);
    height: 20rem;
    width: calc(100% + 2rem);
    background-color: var(--ye);
}

.swiper {
    width: 60rem;
    height: 35rem;
    border: 0.5rem solid #000;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--bl);
    z-index: 3;
    width: 2rem;
    height: 4rem;
}

.swiper-button-next {
    right: -4rem;
}

.swiper-button-prev {
    left: -4rem;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 4rem;
}

/*--Конец carousel--*/


/*--start about_us--*/
.about_us_wrap {
    position: relative;
    border-bottom: 1rem solid var(--bl);
}

.about_us {
    padding: 3rem 0;
    width: 60%;
}

.about_us-title {
    margin-bottom: 2rem;
}

.about_us p {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.pers2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30rem;
    height: 30rem;
    background-size: cover;
    background-image: url('../../assets/img/pers2.png');
    z-index: -1;
}

/*--Конец about_us--*/


/*--Конец cash--*/

.cash_wrap {
    background-image: url('../../assets/img/cash.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 3rem 3rem 0 3rem;
}

.cash-elem {
    margin: 3rem 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
}

.cash-elem:nth-child(2) {
    margin: 5rem 0;
}

.cash-elem h3 {
    margin-bottom: 1.5rem;
    color: var(--wh);
}

table {
    width: 100%;
    background-color: var(--wh);
    border: 0.5rem solid var(--bl);
}

thead {
    font-size: 1.4rem;
    font-weight: 700;
    background-color: var(--ye);
}

tr {
    border: 1px solid #000;
}

th {
    padding: 0.5rem;
    text-align: center; 
    vertical-align: middle;
}

td {
    padding: 0.4rem;
    vertical-align: middle;
}

th:first-letter,
.table-clearing td:nth-child(1):first-letter,
.table-painting td:nth-child(1):first-letter,
.table-exit td:nth-child(1):first-letter,
.table-rent td:nth-child(2):first-letter {
    text-transform: uppercase;
}

.table-clearing tr td:nth-child(1) {
    width: 70%;
}

.table-clearing tr td:nth-child(2) {
    text-align: center;
}
.table-exit td{
    text-align: center;
}
.table-painting tr td:nth-child(1){
    width: 70%;
}
.table-painting tr td:nth-child(2){
    width: 15%;
    text-align: center;
}
.table-painting tr td:nth-child(3){
    width: 15%;
    text-align: center;
}
.table-rent tr td:nth-child(1){
    width: 10%;
    text-align: center;
}
.table-rent tr td:nth-child(2){
    width: 70%;
}
.table-rent tr td:nth-child(3){
    width: 10%;
    text-align: center;
}
.table-rent tr td:nth-child(4){
    width: 10%;
    text-align: center;
}
.specially{
    width: 80%;
}

.cash-condition{
    padding: 2rem;
    text-align: center;
    color: var(--ye);
    background-color: rgba(0, 0, 0, 0.7);
}
/*--Конец cash--*/



/*---------------------Конец main--------------------*/

/*---------------------Начало footer--------------------*/

footer {
    position: relative;
    grid-area: F;
    align-self: end;
    background-color: var(--ye);
    border-top: 2.5rem solid var(--bl);
    font-family: henders, sans-serif;
    font-size: 2rem;
    padding: 1rem 0 0 0;
}

.addres{
    text-align: center;
    padding: 1rem;
}
footer .container {
    justify-content: space-between;
}

.footer_logo {
    text-align: center;
}

.footer_logo-img {
    width: 15rem;
    margin-bottom: 1rem;
}

.footer_map {
    width: 50%;
    margin: 0 1rem;
}

.footer_map iframe {
    width: 100%;
    height: 15rem;
}

.footer_contact-tel {
    flex-direction: column;
    margin-bottom: 1.5rem;
    gap: 1rem;
}

.footer_contact-soc {
    justify-content: space-between;
    gap: 1rem;
}

.footer_contact a {
    transition: 0.5s all;
}

.footer_contact a:hover {
    filter: invert(100%);
}

.footer_contact a:active {
    transform: scale(1.5);
}

.contact_soc {
    width: 4rem;
    height: 4rem;
    background-size: cover;
}

.contact_soc-vb {
    background-image: url('../../assets/icon/vb.png');
}

.contact_soc-wt {
    background-image: url('../../assets/icon/wt.png');
}

.contact_soc-tt {
    background-image: url('../../assets/icon/tt.png');
}

.contact_soc-in {
    background-image: url('../../assets/icon/ig.png');
}

.copy {
    margin-top: 1rem;
}

.copy p {
    text-align: center;
    font-size: 0.9rem;
    line-height: 0.95rem;
}
.copy p sup{
    font-size: 1rem;
}

.autor {
    position: absolute;
    right: 1rem;
    bottom: 0;
    font-size: 1rem;
}

/*---------------------Конец footer--------------------*/

/*---------------------Начало form--------------------*/

.form_wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.form_popap {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--wh);
    padding: 2rem 4rem;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
    border-bottom: 1rem solid var(--bl);
    border-top: 1rem solid var(--bl);
    outline: 0.2rem dashed var(--ye);
    outline-offset: -0.5rem;
}

.form__title {
    text-align: center;
    margin-bottom: 1rem;
}

.form__item {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    width: 20rem;
}

.form__item input,
.form__item textarea {
    width: 100%;
}

.form__item textarea {
    min-height: auto;
    max-height: 10rem;
}

.policity {
    text-align: center;
    font-size: 0.8rem;
    font-family: sans-serif;
    cursor: default;
    width: 80%;
    margin: 1rem;
}

.close_form {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 3rem;
    transform: rotate(45deg);
    background-color: transparent;
    cursor: pointer;
}

/*---------------------Конец form--------------------*/

.header_menu ul li:nth-child(2){
    animation-delay: 0.2s;
}
.header_menu ul li:nth-child(3){
    animation-delay: 0.4s;
}
.header_menu ul li:nth-child(4){
    animation-delay: 0.6s;
}


.marketing-list li:nth-child(2){
    animation-delay: 0.2s;
}

.marketing-list li:nth-child(3){
    animation-delay: 0.4s;
}