/*---------------------Начало global--------------------*/

html {
    font-size: 0.9vw;
}

body {
    height: 100%;
    display: grid;
    grid-template-areas:
        'H'
        'M'
        'F';
    font-family: sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
}

.container {
    width: 80rem;
    margin: 0 auto;
}

h1{
    visibility: hidden;
    height: 0;
}
h2{    
    font-size: 2rem;
    line-height: 2.2rem;
    font-family: henders;
    text-align: center;
    margin: 2rem;
}
.btn-rhomb {
    min-width: 15rem;
    min-height: 2.5rem;
    transform: skew(-20deg);
    border: 0.3rem solid #000;
    box-shadow: 0.5rem 0.5rem 1rem var(--bl);
    transition: 0.3s all;
    cursor: pointer;
}

.btn-rhomb span {
    display: block;
    font-size: 1.6rem;
    font-family: henders, sans-serif;
    font-weight: 700;
    transform: skew(20deg);
}

.btn-rhomb:hover {
    margin-bottom: 10px;
    box-shadow: 0.8rem 0.8rem 1rem var(--bl);
}

.btn-rhomb:active {
    background-color: var(--ye);
}

.btn_feedback-mini{
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-size: cover;
    background-image: url('../../assets/icon/mail.png');
    z-index: 2;
    animation: mail_me 10s ease infinite;
    cursor: pointer;
}
.btn_feedback-mini:hover{
    animation: mail_me 2s ease infinite;
}
/*---------------------Конец globsl--------------------*/

/*---------------------Начало header--------------------*/

header {
    position: relative;
    grid-area: H;
    align-self: start;
    background-color: var(--ye);
    color: var(--wh);
    font-family: henders, sans-serif;
}

.header_contact-wrap,
.header_menu-wrap {
    position: relative;
    height: 2.5rem;
    background-color: var(--bl);
}

.header_contact {
    justify-content: end;
    gap: 3rem;
}

.header_lg_fb {
    justify-content: space-between;
}

.header_logo {
    background-color: var(--wh);
    padding: 0 4rem;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
}

.header_logo-img {
    height: 5rem;
}

.header_menu ul {
    justify-content: center;
    gap: 3rem;
}

.header_contact a,
.header_menu ul a {
    display: block;
    transition: 0.3s all;
}

.header_menu-activ,
.header_contact a:hover,
.header_menu ul a:hover {
    color: var(--ye);
}

.header_contact a:active,
.header_menu ul a:active {
    transform: scale(1.5);
}

.header_menu-activ {
    pointer-events: none;
}

.header_menu_burg-btn_wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--bl);
    color: var(--wh);
    font-size: 1.7rem;
    z-index: 5;
    justify-content: space-between;
    display: none;
}
.header_menu_burg-btn{
    position: relative;
    background-color: var(--wh);
    width: 2.5rem;
    height: 0.1rem;
    transition: 0.3s;
}

.header_menu_burg-btn::after,
.header_menu_burg-btn::before{
    position: absolute;
    content: '';
    left: 0;
    background-color: var(--wh);
    width: 2.5rem;
    height: 0.1rem;
    transition: 0.3s;
}

.header_menu_burg-btn::after{
    top: 0.6rem;
}
.header_menu_burg-btn::before{
    top: -0.6rem;
}

.burg-open.header_menu_burg-btn{
    background-color: var(--bl);
}
.burg-open.header_menu_burg-btn::after{
    transform: rotate(-45deg);
    top: -0.2rem;
    height: 0.2rem;
}

.burg-open.header_menu_burg-btn::before{    
    transform: rotate(45deg);
    top: -0.2rem;
    height: 0.2rem;
}

.header_menu_burg-call{
    display: block;
}

.header_menu_burg{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bl);
    z-index: 4;
    width: 100%;
}
.header_menu_burg-list{    
    padding: 5rem 0 2rem 0;
    flex-direction: column;
    font-size: 1.7rem;
}
.header_menu_burg-list li{
    width: 100%;
    text-align: center;
    padding: 0.7rem;
}
/*---------------------Конец header--------------------*/

/*---------------------Начало main--------------------*/
main {
    position: relative;
    grid-area: M;
    align-self: center;
}

/*--Начало main_page--*/
.banner_wrap{
    display: flex;
    height: 30rem;
}
.banner_sand,
.banner_paint{
    height: 30rem;
    width: 50%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5rem solid #000;
}

.banner_sand{
    background-image: url('../../assets/img/banner-sand.jpg');
    border-right: 0.5rem solid #000;
}
.banner_paint{
    background-image: url('../../assets/img/banner-paint.jpg');
    border-left: 0.5rem solid #000;
}
.banner_text{
    width: 50%;
    text-align: center;
    font-size: 2rem;
    line-height: 2.2rem;
    font-family: henders;
}
.banner_text sup{
    font-size: 0.9rem;
}





.advantages_wrap{
    padding: 2rem 0;
}
.advantages_elems{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 4rem;
    border-left: 0.5rem solid var(--bl);
    border-right: 0.5rem solid var(--bl);
}
.advantages_elem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
}
.advantages_elem-img{
    position: relative;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: var(--ye);
    margin-bottom: 2rem;
}
.advantages_elem-img::after{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 9rem;
    height: 9rem;
    transform: translate(-50%, -50%);    
    background-size: cover;

}
.advantages_elem:nth-child(1)  .advantages_elem-img::after{
    background-image: url('../../assets/icon/edv-1.png');
}
.advantages_elem:nth-child(2)  .advantages_elem-img::after{
    background-image: url('../../assets/icon/edv-2.png');
}
.advantages_elem:nth-child(3)  .advantages_elem-img::after{
    background-image: url('../../assets/icon/edv-3.png');
}




.description_wrap{
    background-color: var(--ye);    
    border: 0.5rem solid #000;
}
.description{
    padding: 2rem 0;
}

.description p span{
    font-weight: 700;
}
.des_table{
    width: 100%;
}
.des_tab_body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.des_tab_body tr{
    position: relative;
    display: flex;
    margin: 1rem 0;
    outline: 0.3rem double var(--bl);
    outline-offset: -0.6rem; 
    width: 100%;
    cursor: default;
}

.des_tab_body tr:nth-child(2n){
    flex-direction: row-reverse;
}

/* .des_tab_body tr::after{
    position: absolute;
    content: '';
    top: 50%;
    left: -15rem;
    transform: translateY(-50%);
    width: 15rem;
    height: 3rem;
    background-color: var(--bl);
}
.des_tab_body tr:nth-child(2n)::after{
    flex-direction: row-reverse;
    left: auto;
    right: -15rem;
} */
.des_img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 15rem;
    background-position: center;
    background-size: cover;
    text-align: center;
    font-weight: 700;
    transition: 0.3s;
}
.des_tab_body tr:nth-child(1) .des_img{
    background-image: url('../../assets/img/des-1.jpg');
}
.des_tab_body tr:nth-child(2) .des_img{
    background-image: url('../../assets/img/des-2.jpg');
}
.des_tab_body tr:nth-child(3) .des_img{
    background-image: url('../../assets/img/des-3.jpg');
}
.des_tab_body tr:nth-child(4) .des_img{
    background-image: url('../../assets/img/des-4.jpg');
}
.des_tab_body tr:nth-child(5) .des_img{
    background-image: url('../../assets/img/des-5.jpg');
}
.des_tab_body tr:nth-child(6) .des_img{
    background-image: url('../../assets/img/des-6.jpg');
}
.des_tab_body tr:nth-child(7) .des_img{
    background-image: url('../../assets/img/des-7.jpg');
}
.des_img-title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.des_img h3{
    padding: 1rem 6rem;
    font-size: 1.6rem;
}
.des_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    gap: 0.5rem;
    background-color: var(--wh);
}
.des_text p{
    transition: 0.5s;
}
.btn_feedback-des{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.des_tab_body tr:hover .des_img-title{
    background-color: transparent;
    color: transparent;
}
.des_tab_body tr:hover .des_text p{
    opacity: 0;
}
.des_tab_body tr:hover .btn_feedback-des{
    opacity: 1;
    visibility: visible;
}

/*--Конец main_page--*/

/*---------------------Конец main--------------------*/

/*---------------------Начало footer--------------------*/

footer {
    position: relative;
    grid-area: F;
    align-self: end;
    background-color: var(--ye);
    border-top: 2.5rem solid var(--bl);
    font-family: henders, sans-serif;
    font-size: 2rem;
    padding: 1rem 0 0 0;
}

footer .container {
    justify-content: space-between;
}

.footer_logo {
    text-align: center;
}

.footer_logo-img {
    width: 15rem;
    margin-bottom: 1rem;
}

.footer_map {
    width: 50%;
}
.footer_map iframe{
    width: 100%;
    height: 15rem;
}
.footer_contact-tel {
    flex-direction: column;
    margin-bottom: 1.5rem;
    gap: 1rem;
}

.footer_contact-soc {
    justify-content: space-between;
    gap: 1rem;
}

.footer_contact a{    
    transition: 0.5s all;
}

.footer_contact a:hover{    
    filter: invert(100%);
}

.footer_contact a:active{    
    transform: scale(1.5);
}

.contact_soc {
    width: 4rem;
    height: 4rem;
    background-size: cover;
}

.contact_soc-vb {
    background-image: url('../../assets/icon/vb.png');
}
.contact_soc-wt {
    background-image: url('../../assets/icon/wt.png');
}
.contact_soc-tt {
    background-image: url('../../assets/icon/tt.png');
}
.contact_soc-in {
    background-image: url('../../assets/icon/ig.png');
}
.copy{
    margin-top: 1rem;
}
.copy p{
    text-align: center;
    font-size: 0.9rem;
    line-height: 0.95rem;
}

.autor{
    position: absolute;
    right: 1rem;
    bottom: 0;
    font-size: 1rem;
}
/*---------------------Конец footer--------------------*/

/*---------------------Начало form--------------------*/

.form_wrap{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}
.form_popap{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--wh);    
    padding: 2rem 4rem;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
    border-bottom: 1rem solid var(--bl);
    border-top: 1rem solid var(--bl);
    outline: 0.2rem double var(--ye);
    outline-offset: -0.5rem; 
}
.form__title{
    text-align: center;
    margin-bottom: 1rem;
}
.form__item{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    width: 20rem;
}
.form__item input,
.form__item textarea{
    width: 100%;
}
.form__item textarea{
    min-height: auto;
    max-height: 10rem;
}
.policity{
    text-align: center;
    font-size: 0.8rem;
    font-family: sans-serif;
    cursor: default;
    width: 80%;
    margin: 1rem;
}
.close_form{
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 3rem;
    transform: rotate(45deg);
    background-color: transparent;
    cursor: pointer;
}

/*---------------------Конец form--------------------*/
