:root{
    --ye: #ffd000;
    --bl: #000000;
    --wh: #ffffff;
}

@font-face {
    font-display: swap; 
    font-family: 'henders';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/handelsonsix_cyr_six.otf');
  }

  
.op {
    border: 1px solid #3cffef;
}

.d-f {
    display: flex;
    align-items: center;
}

.d-n{
    display: none;
}

.p-fix{
    position: fixed;
}

.mb3{
    margin-bottom: 3rem;
}


@keyframes mail_me {
    0%{          
        filter: hue-rotate(0%);
    }
    50%{          
        filter: hue-rotate(-20deg);
    }
    100%{          
        filter: hue-rotate(0%);
    }
}

@keyframes scale_title {
    0%{          
        transform: scale(1);
    }
    50%{          
        transform: scale(1.05);
    }
    100%{          
        transform: scale(1);
    }
}